/* Light-blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #2fa5b5;
  --primary-hover: #24818e;
  --primary-focus: rgba(3, 155, 229, 0.125);
  --primary-inverse: #FFF;
  --brand-logo-url: url('logo4_no_bg.png')
}

/* Light-blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #2fa5b5;
    --primary-hover: #03a9f4;
    --primary-focus: rgba(3, 155, 229, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Light-blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #2fa5b5;
  --primary-hover: #03a9f4;
  --primary-focus: rgba(3, 155, 229, 0.25);
  --primary-inverse: #FFF;
}

/* Light-blue (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
/* declare a max-width variable for forms */
:root {
    --content-max-w: 652px;
    --form-max-width: 420px;
    --color-success: #28a745;
    --color-neutral-light: #fbfbfc;
}

.page.container {
    margin: 0 auto;
    max-width: var(--content-max-w);
}

.icon.success {
    color: var(--color-success);
}

.icon-sm > svg {
    width: 1em;
    height: 1em;
}

.icon-md > svg {
    width: 2em;
    height: 2em;
}
/* Typeahead */
[data-svelte-typeahead] {
  li {
    list-style: none;
  }
}
/* Font */
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf');
}